@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@{
}

<section id="contact-info" class="contact-info">
    <div class="container">
        <div class="contact-image-area">
        <img class="background-dots"src="/media/010aopkz/contact-dots.svg" alt="Background graphics" />
        <img class="background"src="/media/vuxjxuqe/contact-bg.svg" alt="Background graphics" />
        <img class="main-image"src="/media/qaglu50p/contact-image.svg" alt="Man with glasses smiling" />
    </div>
    
    <div class="contact-text-area">
        <h2>Let us know about your next project</h2>
        <div class="contact-info-list-object">
            <h6><span><i class="fa-light fa-location-dot"></i><span>Office location<h6>
            <p>Klarabergsviadukten 90, 111 52 Stockholm</p>
        </div>
        <div class="contact-info-list-object">
            <h6><span><i class="fa-regular fa-phone-flip"></i><span>Phone number<h6>
            <p>+46 8 123 456 75</p>
        </div>
        <div class="contact-info-list-object">
            <h6><span><i class="fa-regular fa-envelope"></i><span>E-mail address<h6>
            <p>sales@onatrix.com</p>
        </div>
    </div>
    </div>
</section>