<?xml version="1.0" encoding="utf-8"?>
<Content Key="676b8593-33a6-48cd-934e-35756da1e78b" Alias="Aaron Lambert" Level="2">
  <Info>
    <Parent Key="2683836c-c529-47f7-8834-f31ac85937a3">About</Parent>
    <Path>/About/AaronLambert</Path>
    <Trashed>false</Trashed>
    <ContentType>expertItemTemplate</ContentType>
    <CreateDate>2024-10-06T17:11:00</CreateDate>
    <NodeName Default="Aaron Lambert" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8175c960-f9fb-4b57-b2ac-a4320535691a">expertItemTemplate</Template>
  </Info>
  <Properties>
    <expertImage>
      <Value><![CDATA[[
  {
    "key": "9c9f2a35-a0f3-49b8-a7ba-8bc9681680fd",
    "mediaKey": "d2c6e24e-a981-49dd-b11a-9518a683e0cc",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImage>
    <expertName>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </expertName>
    <expertPosition>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </expertPosition>
  </Properties>
</Content>