<?xml version="1.0" encoding="utf-8"?>
<Content Key="7047b947-3178-499b-a377-af1f1c8895e5" Alias="AJ Carter" Level="2">
  <Info>
    <Parent Key="2683836c-c529-47f7-8834-f31ac85937a3">About</Parent>
    <Path>/About/AJCarter</Path>
    <Trashed>false</Trashed>
    <ContentType>expertItemTemplate</ContentType>
    <CreateDate>2024-10-06T17:11:22</CreateDate>
    <NodeName Default="AJ Carter" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8175c960-f9fb-4b57-b2ac-a4320535691a">expertItemTemplate</Template>
  </Info>
  <Properties>
    <expertImage>
      <Value><![CDATA[[
  {
    "key": "dcfa87a6-a95a-4e6f-a94a-01fcac721d41",
    "mediaKey": "6f3c8c72-63fb-4a24-9de7-2d7a3082e1a4",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImage>
    <expertName>
      <Value><![CDATA[AJ Carter]]></Value>
    </expertName>
    <expertPosition>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </expertPosition>
  </Properties>
</Content>