<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e84996e-0161-4f57-a13f-a7f2241ffba9" Alias="Bonds &amp; Commodities" Level="2">
  <Info>
    <Parent Key="fc30ec3e-6d53-42ba-bb92-d29754087714">Services</Parent>
    <Path>/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-10-04T22:25:30</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e98a06f4-23b7-4682-b546-6fddb1b8b342">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <serviceContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E\u003Cimg src=\u0022\u0022 alt=\u0022Bonds \u0026amp; Commodities\u0022 width=\u0022681\u0022 height=\u0022405\u0022 data-udi=\u0022umb://media/3f00607e7cfb4b069c648edeb41f1232\u0022\u003E\u003C/p\u003E\n\u003Cp\u003E\u0026nbsp;\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </serviceContent>
    <synopsis>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </synopsis>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "fbea9a51-0dff-42a3-b140-62d33d16c6c5",
    "mediaKey": "3f00607e-7cfb-4b06-9c64-8edeb41f1232",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>