<?xml version="1.0" encoding="utf-8"?>
<Content Key="b73748a5-4f90-4e94-bf91-6c6aac321173" Alias="Brandon Kerr" Level="2">
  <Info>
    <Parent Key="2683836c-c529-47f7-8834-f31ac85937a3">About</Parent>
    <Path>/About/BrandonKerr</Path>
    <Trashed>false</Trashed>
    <ContentType>expertItemTemplate</ContentType>
    <CreateDate>2024-10-06T17:09:52</CreateDate>
    <NodeName Default="Brandon Kerr" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8175c960-f9fb-4b57-b2ac-a4320535691a">expertItemTemplate</Template>
  </Info>
  <Properties>
    <expertImage>
      <Value><![CDATA[[
  {
    "key": "5f5fbd93-3fec-44f2-9bcb-d55da9f36886",
    "mediaKey": "9a1da0ce-0014-4964-b9c0-27a691f296fb",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImage>
    <expertName>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </expertName>
    <expertPosition>
      <Value><![CDATA[ CFO & Co-Founderat Onatrix]]></Value>
    </expertPosition>
  </Properties>
</Content>