<?xml version="1.0" encoding="utf-8"?>
<Content Key="0701d179-9c9c-44fd-a3a8-ad890fbee9fd" Alias="Brandon Newton" Level="2">
  <Info>
    <Parent Key="2683836c-c529-47f7-8834-f31ac85937a3">About</Parent>
    <Path>/About/BrandonNewton</Path>
    <Trashed>false</Trashed>
    <ContentType>expertItemTemplate</ContentType>
    <CreateDate>2024-10-06T17:11:45</CreateDate>
    <NodeName Default="Brandon Newton" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8175c960-f9fb-4b57-b2ac-a4320535691a">expertItemTemplate</Template>
  </Info>
  <Properties>
    <expertImage>
      <Value><![CDATA[[
  {
    "key": "052a33cb-f97f-420d-b739-fc43ce5474db",
    "mediaKey": "7de62f31-1744-4ddd-a8b7-c9582a68ed0b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImage>
    <expertName>
      <Value><![CDATA[Brandon Newton]]></Value>
    </expertName>
    <expertPosition>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </expertPosition>
  </Properties>
</Content>