<?xml version="1.0" encoding="utf-8"?>
<Content Key="a28e7df1-aa7c-463d-9c45-51ff38685ecd" Alias="Budget Planning for Buccura Inc." Level="2">
  <Info>
    <Parent Key="ef95bffe-936f-45f1-a94e-ad242cd4ebb0">Projects</Parent>
    <Path>/Projects/BudgetPlanningForBuccuraInc</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-10-06T13:32:45</CreateDate>
    <NodeName Default="Budget Planning for Buccura Inc." />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1a17ab7a-dda4-4539-a660-fc57bf6f9dea">projectItemTemplate</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </description>
    <pageTitle>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </pageTitle>
    <projectCategory>
      <Value><![CDATA[Financial Services]]></Value>
    </projectCategory>
    <projectContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at enim vestibulum, dapibus elit quis, pellentesque justo. Proin sit amet libero quis orci convallis mollis.\u003C/p\u003E\n\u003Cp\u003E\u003Cimg src=\u0022\u0022 alt=\u0022Budget Planning for Buccura Inc.\u0022 width=\u0022918\u0022 height=\u0022496\u0022 data-udi=\u0022umb://media/025c526967ae4bdfbc51e93022a1e1a3\u0022\u003E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </projectContent>
    <projectTags>
      <Value><![CDATA[]]></Value>
    </projectTags>
    <projectThumbnail>
      <Value><![CDATA[[
  {
    "key": "6101dc45-99c2-45fe-aac9-11dc78121495",
    "mediaKey": "025c5269-67ae-4bdf-bc51-e93022a1e1a3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectThumbnail>
    <publicationDate>
      <Value><![CDATA[2024-01-03T00:00:00]]></Value>
    </publicationDate>
  </Properties>
</Content>