<?xml version="1.0" encoding="utf-8"?>
<Content Key="4eec6ea2-93d4-416c-aef4-87f7fee75ee7" Alias="Business Insights for SP Group Inc." Level="2">
  <Info>
    <Parent Key="ef95bffe-936f-45f1-a94e-ad242cd4ebb0">Projects</Parent>
    <Path>/Projects/BusinessInsightsForSPGroupInc</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-10-05T15:13:38</CreateDate>
    <NodeName Default="Business Insights for SP Group Inc." />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1a17ab7a-dda4-4539-a660-fc57bf6f9dea">projectItemTemplate</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </description>
    <pageTitle>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </pageTitle>
    <projectCategory>
      <Value><![CDATA[Financial Services]]></Value>
    </projectCategory>
    <projectContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at enim vestibulum, dapibus elit quis, pellentesque justo. Proin sit amet libero quis orci convallis mollis.\u003C/p\u003E\n\u003Cp\u003E\u0026nbsp;\u003C/p\u003E\n\u003Cp\u003E\u003Cimg src=\u0022\u0022 alt=\u0022Business Insights for SP Group Inc.\u0022 width=\u0022710\u0022 height=\u0022384\u0022 data-udi=\u0022umb://media/30c35c116b75411f8ce67c6c94ed838f\u0022\u003E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </projectContent>
    <projectTags>
      <Value><![CDATA[]]></Value>
    </projectTags>
    <projectThumbnail>
      <Value><![CDATA[[
  {
    "key": "783032a2-01d0-4b91-a116-06e7235036a6",
    "mediaKey": "30c35c11-6b75-411f-8ce6-7c6c94ed838f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectThumbnail>
    <publicationDate>
      <Value><![CDATA[2024-05-17T00:00:00]]></Value>
    </publicationDate>
  </Properties>
</Content>