<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7ba8971-d85b-4bf7-818e-0d4964815ab5" Alias="Contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-09-27T00:43:14</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0a67b7a5-0ef6-4be3-9d79-8c450c0f1364">contactPage</Template>
  </Info>
  <Properties>
    <callBackBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "00dc620b-098d-4e1e-85b2-e0db028180bb",
    "mediaKey": "3d5199fc-00e2-4d2c-b9b2-342f5c30950c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </callBackBackgroundImage>
    <callBackButtonText>
      <Value><![CDATA[Submit]]></Value>
    </callBackButtonText>
    <callBackHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </callBackHeadline>
    <callBackSectionTitle>
      <Value><![CDATA[REQUEST A CALL BACK]]></Value>
    </callBackSectionTitle>
    <callBackText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </callBackText>
    <contactBrandsImage1>
      <Value><![CDATA[[
  {
    "key": "5972a6c3-216c-44dd-bc92-390476ec722c",
    "mediaKey": "6281464d-c876-4b4c-88d3-3f45e0b5960e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBrandsImage1>
    <contactBrandsImage2>
      <Value><![CDATA[[
  {
    "key": "57e92d0c-100f-4379-b50d-201098c4efd4",
    "mediaKey": "c2a9d119-36d1-43f8-8c65-4f2bcfe9fa5f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBrandsImage2>
    <contactBrandsImage3>
      <Value><![CDATA[[
  {
    "key": "1a08a7a2-aa4a-46d1-8624-008ec0466785",
    "mediaKey": "c5173ae2-c8a5-48ba-b557-0412b65c7feb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBrandsImage3>
    <contactBrandsImage4>
      <Value><![CDATA[[
  {
    "key": "2a883ff1-c281-437c-9fe4-cf20d38a1a2f",
    "mediaKey": "b0f29245-5ecc-42d7-b45c-cc20435da910",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBrandsImage4>
    <contactBrandsImage5>
      <Value><![CDATA[[
  {
    "key": "c11ca60f-8779-43b0-98a1-010dbb6ec579",
    "mediaKey": "5bda6a3a-4848-4e54-9878-cad90dd6e962",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBrandsImage5>
    <contactBrandsImage6>
      <Value><![CDATA[[
  {
    "key": "c3e3e027-5747-4fe3-8957-3efd8e6a4e44",
    "mediaKey": "537c4848-a484-4b94-9a03-974efe71c811",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBrandsImage6>
    <contactInfoEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactInfoEmail>
    <contactInfoHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactInfoHeadline>
    <contactInfoLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactInfoLocation>
    <contactInfoPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactInfoPhone>
    <contactPageHeadline>
      <Value><![CDATA[Contact Us]]></Value>
    </contactPageHeadline>
    <contactPageTitle>
      <Value><![CDATA[Contact]]></Value>
    </contactPageTitle>
  </Properties>
</Content>