<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea2c3072-cfe7-49ce-8586-6d71580a73d7" Alias="Financial Advisors to Irra Corp Inc." Level="2">
  <Info>
    <Parent Key="ef95bffe-936f-45f1-a94e-ad242cd4ebb0">Projects</Parent>
    <Path>/Projects/FinancialAdvisorsToIrraCorpInc</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-10-06T13:31:38</CreateDate>
    <NodeName Default="Financial Advisors to Irra Corp Inc." />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1a17ab7a-dda4-4539-a660-fc57bf6f9dea">projectItemTemplate</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </description>
    <pageTitle>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc.]]></Value>
    </pageTitle>
    <projectCategory>
      <Value><![CDATA[Financial Services]]></Value>
    </projectCategory>
    <projectContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at enim vestibulum, dapibus elit quis, pellentesque justo. Proin sit amet libero quis orci convallis mollis.\u003C/p\u003E\n\u003Cp\u003E\u003Cimg src=\u0022\u0022 alt=\u0022Financial Advisors to Irra Corp Inc.\u0022 width=\u00221177\u0022 height=\u0022636\u0022 data-udi=\u0022umb://media/f63186f696844371a71f3ddc86e5af27\u0022\u003E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </projectContent>
    <projectTags>
      <Value><![CDATA[]]></Value>
    </projectTags>
    <projectThumbnail>
      <Value><![CDATA[[
  {
    "key": "354af420-2c7f-42ef-bf1d-8cd4070b97dd",
    "mediaKey": "f63186f6-9684-4371-a71f-3ddc86e5af27",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectThumbnail>
    <publicationDate>
      <Value><![CDATA[2024-02-06T00:00:00]]></Value>
    </publicationDate>
  </Properties>
</Content>