<?xml version="1.0" encoding="utf-8"?>
<Content Key="bfcfa855-0802-4a3b-97fb-6aeb110f6e0d" Alias="Financial Advisor" Level="2">
  <Info>
    <Parent Key="fc30ec3e-6d53-42ba-bb92-d29754087714">Services</Parent>
    <Path>/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-10-04T22:28:01</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e98a06f4-23b7-4682-b546-6fddb1b8b342">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E\u003Cimg src=\u0022\u0022 alt=\u0022Financial Advisor\u0022 width=\u0022785\u0022 height=\u0022467\u0022 data-udi=\u0022umb://media/63f9ac91e002450a9bb14e4c7acdfcaa\u0022\u003E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </serviceContent>
    <synopsis>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </synopsis>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "bba71bb6-79fd-449e-a314-34e01dd7b463",
    "mediaKey": "63f9ac91-e002-450a-9bb1-4e4c7acdfcaa",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>