<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6e3032c-58f2-4422-b3d7-7ff1cfd901d0" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-24T17:09:55</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c4873a55-3f7f-4fdf-8805-ec6ea62e25a3">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadline>
    <aboutQuotation>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutQuotation>
    <aboutSectionTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutSectionTitle>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "1cdb9c9f-0372-49cf-a28e-aff6f0bbaee1",
    "mediaKey": "9c11ddb0-eff1-4c15-9383-e933ac7b0eb2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutSignatureText>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutSignatureText>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <brandsImage1>
      <Value><![CDATA[[
  {
    "key": "5e3d3f6c-f2a7-40fe-8e8d-36661657a3b0",
    "mediaKey": "6281464d-c876-4b4c-88d3-3f45e0b5960e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandsImage1>
    <brandsImage2>
      <Value><![CDATA[[
  {
    "key": "36cc8328-090a-40c6-a58e-0549a68b4d73",
    "mediaKey": "c2a9d119-36d1-43f8-8c65-4f2bcfe9fa5f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandsImage2>
    <brandsImage3>
      <Value><![CDATA[[
  {
    "key": "c487aaad-88a3-485c-b92f-80c123534798",
    "mediaKey": "c5173ae2-c8a5-48ba-b557-0412b65c7feb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandsImage3>
    <brandsImage4>
      <Value><![CDATA[[
  {
    "key": "50ab7c7c-2db0-4430-8821-b3a6ebbf129b",
    "mediaKey": "b0f29245-5ecc-42d7-b45c-cc20435da910",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandsImage4>
    <brandsImage5>
      <Value><![CDATA[[
  {
    "key": "63a02339-7eb1-441e-ab90-a3754ac3b7a1",
    "mediaKey": "5bda6a3a-4848-4e54-9878-cad90dd6e962",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandsImage5>
    <brandsImage6>
      <Value><![CDATA[[
  {
    "key": "d20944d3-5b54-486a-b2dc-59871f13470e",
    "mediaKey": "537c4848-a484-4b94-9a03-974efe71c811",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandsImage6>
    <clientButtonText>
      <Value><![CDATA[Read our story]]></Value>
    </clientButtonText>
    <clientHeadline>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </clientHeadline>
    <clientHeadlineHighlight>
      <Value><![CDATA[4.000+ clients]]></Value>
    </clientHeadlineHighlight>
    <clientImage>
      <Value><![CDATA[[
  {
    "key": "8af04f96-39fe-48e0-a3b4-a2ea2ea38fc9",
    "mediaKey": "80ea2b09-9274-43b9-a33b-da824bfbfd7f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </clientImage>
    <clientText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </clientText>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contact]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "40aed0e0-1985-4d8b-a277-a39a9b383c3c",
    "mediaKey": "7b1200f7-f380-429d-82e4-f2731f596510",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <projectsSectionHeadline>
      <Value><![CDATA[Recent Projects]]></Value>
    </projectsSectionHeadline>
    <projectsSectionTitle>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </projectsSectionTitle>
    <servicesHeadline>
      <Value><![CDATA[We Provide The Solutions  To Grow Your Business Faster]]></Value>
    </servicesHeadline>
    <servicesSectionTitle>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </servicesSectionTitle>
    <storiesImage>
      <Value><![CDATA[[
  {
    "key": "12def768-b785-4db8-b9ac-d217cd6dacf5",
    "mediaKey": "f2e306a5-a45c-45d9-b130-6bfea0d724f3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </storiesImage>
    <storiesNumberStat1>
      <Value><![CDATA[689]]></Value>
    </storiesNumberStat1>
    <storiesNumberStat2>
      <Value><![CDATA[370]]></Value>
    </storiesNumberStat2>
    <storiesNumberStat3>
      <Value><![CDATA[125]]></Value>
    </storiesNumberStat3>
    <storiesSectionHeadline>
      <Value><![CDATA[Success story]]></Value>
    </storiesSectionHeadline>
    <storiesSectionTitle>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </storiesSectionTitle>
    <storiesTextStat1>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </storiesTextStat1>
    <storiesTextStat2>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </storiesTextStat2>
    <storiesTextStat3>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </storiesTextStat3>
  </Properties>
</Content>