<?xml version="1.0" encoding="utf-8"?>
<Content Key="3409a8ba-2abb-4fef-bc91-5c38d108b54a" Alias="Kevin Gardner" Level="2">
  <Info>
    <Parent Key="2683836c-c529-47f7-8834-f31ac85937a3">About</Parent>
    <Path>/About/KevinGardner</Path>
    <Trashed>false</Trashed>
    <ContentType>expertItemTemplate</ContentType>
    <CreateDate>2024-10-06T17:10:36</CreateDate>
    <NodeName Default="Kevin Gardner" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8175c960-f9fb-4b57-b2ac-a4320535691a">expertItemTemplate</Template>
  </Info>
  <Properties>
    <expertImage>
      <Value><![CDATA[[
  {
    "key": "9e648b3c-d6b9-47d1-b299-ffc804f532d7",
    "mediaKey": "83636ce9-8558-4a38-a377-d59f9cf66f1a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImage>
    <expertName>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </expertName>
    <expertPosition>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </expertPosition>
  </Properties>
</Content>