<?xml version="1.0" encoding="utf-8"?>
<Content Key="68d8a61d-26c9-478c-aae1-7bb6ac8a0900" Alias="Miranda Dayton" Level="2">
  <Info>
    <Parent Key="2683836c-c529-47f7-8834-f31ac85937a3">About</Parent>
    <Path>/About/MirandaDayton</Path>
    <Trashed>false</Trashed>
    <ContentType>expertItemTemplate</ContentType>
    <CreateDate>2024-10-06T17:10:11</CreateDate>
    <NodeName Default="Miranda Dayton" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8175c960-f9fb-4b57-b2ac-a4320535691a">expertItemTemplate</Template>
  </Info>
  <Properties>
    <expertImage>
      <Value><![CDATA[[
  {
    "key": "67e03ed5-23e0-424a-ad93-99cc551f4ef0",
    "mediaKey": "06c22d1e-45e9-4da7-9aef-233031ef5992",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImage>
    <expertName>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </expertName>
    <expertPosition>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </expertPosition>
  </Properties>
</Content>