<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef95bffe-936f-45f1-a94e-ad242cd4ebb0" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsPage</ContentType>
    <CreateDate>2024-10-05T13:59:51</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bab5896d-1eed-48f4-8d80-e15e34cae419">projectsPage</Template>
  </Info>
  <Properties>
    <projectsPageTitle>
      <Value><![CDATA[Projects]]></Value>
    </projectsPageTitle>
    <sidebarTags>
      <Value><![CDATA[[
  "Report",
  "Business Plans",
  "Insights",
  "Business",
  "App",
  "Project",
  "Finance",
  "Pricing"
]]]></Value>
    </sidebarTags>
    <sidebarTagText>
      <Value><![CDATA[Tags]]></Value>
    </sidebarTagText>
  </Properties>
</Content>