<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc30ec3e-6d53-42ba-bb92-d29754087714" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2024-09-29T19:31:46</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9d245253-7d41-42ae-88f1-bf3ec2f85a5d">servicesPage</Template>
  </Info>
  <Properties>
    <servicesPageHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </servicesPageHeadline>
    <servicesPageTitle>
      <Value><![CDATA[Services]]></Value>
    </servicesPageTitle>
  </Properties>
</Content>