<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc874389-c8c0-419b-9b17-9067ebc12b9f" Alias="Statistic Advisors" Level="2">
  <Info>
    <Parent Key="fc30ec3e-6d53-42ba-bb92-d29754087714">Services</Parent>
    <Path>/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-10-04T22:29:02</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e98a06f4-23b7-4682-b546-6fddb1b8b342">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <serviceContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E\u003Cimg src=\u0022\u0022 alt=\u0022Statistic Advisors\u0022 width=\u0022681\u0022 height=\u0022405\u0022 data-udi=\u0022umb://media/6ebb00005dbc45568b3579477a80f634\u0022\u003E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </serviceContent>
    <synopsis>
      <Value><![CDATA[]]></Value>
    </synopsis>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "b77ed4e6-4ec9-4480-bc6c-beac11d67239",
    "mediaKey": "6ebb0000-5dbc-4556-8b35-79477a80f634",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>