<?xml version="1.0" encoding="utf-8"?>
<Content Key="100e11a8-5ae9-4ca4-b6ef-48f3551ee257" Alias="Tina Fox" Level="2">
  <Info>
    <Parent Key="2683836c-c529-47f7-8834-f31ac85937a3">About</Parent>
    <Path>/About/TinaFox</Path>
    <Trashed>false</Trashed>
    <ContentType>expertItemTemplate</ContentType>
    <CreateDate>2024-10-06T17:08:51</CreateDate>
    <NodeName Default="Tina Fox" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8175c960-f9fb-4b57-b2ac-a4320535691a">expertItemTemplate</Template>
  </Info>
  <Properties>
    <expertImage>
      <Value><![CDATA[[
  {
    "key": "c48800ad-4ac2-4184-ab94-9cdffe888d05",
    "mediaKey": "c6659e71-662e-42f4-82a9-16548e691a13",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImage>
    <expertName>
      <Value><![CDATA[Tina Fox]]></Value>
    </expertName>
    <expertPosition>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </expertPosition>
  </Properties>
</Content>