.hero {
    .hero-image {
        position: absolute;
        z-index: -1;
        width: 100%;
    }
    .container {
        color: $theme;
        .showcase-text {
            padding-top: 100px;
            padding-right: 800px;
            h1 {
                font-weight: 700;
                font-size: 3.5rem;
            }
        }
    }
}

.about-us {
    .container {
        display: flex;
        
        .about-us-text {
            margin-top: 200px;
        }


        .call-back-box {
            @include shadow-l;
            background-color: $white;
            position: relative;
            overflow: hidden;
            margin-bottom: 50px;
            width: 100%;
            h3 {
                padding: 25px 20px;
                font-weight: 600;
                background-color: $theme;
                color: $cream;
            }
            p {
                padding: 0px 20px;
            }

            .form {
                display: flex;
                flex-direction: column;

                .btn-light {
                    padding: 10px 0px;
                    margin: 0px 20px;
                }
            }
        }
    }
}

.client {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-top: 50px;
        .client-text-area {
            h2 {
                color: $theme;
                padding: 15px 400px;
                font-weight: 700;
                span {
                    color: $beige;
                }
            }
            p {
                padding: 10px 300px;
            }
            
        }

        img {
            padding-top: 100px;
            width: 100%;
        }
    }
}

.services {
    background-color: $off-white;
    .container { 
        .section-title {
            text-align: center;
        }
        
    }

}

.stories {
    background-color: $theme;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .dotmap {
            position: absolute;
        }
        .section-title {
            h2 {
                color: $white;
            }
        }

        .success-stats {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .number-stat {
                padding: 10px 10px;
                max-width: 400px;
                .big-number {
                    color: $beige;
                }
                p{
                    color: $white;
                }
            }
        }
    }
}

.brands {
    .container {
        display: flex;
        justify-content: space-between;
        img {
            padding: 50px 0px;
        }
    }
}