.service-details {
    .container {
        display: flex;
        margin-top: 80px;
        .sidebar {
            max-width: 30%;
            border-right: 2px solid $off-white;
            margin-right: 40px;
            padding-right: 40px;
            padding-bottom: 30px;
            margin-bottom: 50px;

            img {
                width: 100%;
            }
        }
    }
}

.question-form {
    .container {
        form {
            display: grid;
            grid-template-columns: 1fr 1fr; 
            gap: 20px; 
            margin-top: 20px;

            textarea {
                grid-column: span 2; 
            }
        }
        .btn-dark {
            margin: 20px 0px;
        }
    }
}