.section-title {
    font-family: "Poppins", sans-serif;

    p {
        color: $beige;
        font-weight: 600;
    }
    h2 {
        color: $theme;
        font-weight: 700;
    }
}

p {
    font-family: "Poppins", sans-serif;
    color: $theme;
}

h1 {
    font-family: "Poppins", sans-serif;
    color: $theme;
}

h2 {
    font-family: "Poppins", sans-serif;
    color: $theme;
}

h3 {
    font-family: "Poppins", sans-serif;
    color: $theme;
}