.section-title {
    font-family: "Poppins", sans-serif;
    padding-top: 70px;
    padding-bottom: 30px;

    h5 {
        font-size: 0.9rem;
        color: $beige;
        font-weight: 600;
    }
    h2 {
        color: $theme;
        font-weight: 700;
    }
}

p {
    font-family: "Poppins", sans-serif;
    color: $theme;
}

h1 {
    font-family: "Poppins", sans-serif;
    color: $theme;
}

h2 {
    font-family: "Poppins", sans-serif;
    color: $theme;
    font-weight: 600;
}

h3 {
    font-family: "Poppins", sans-serif;
    color: $theme;
}

h4 {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

h5 {
    font-family: "Poppins", sans-serif;
    color: $theme;
    font-weight: 600;
}

h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.big-number {
    font-size: 70px;
    font-weight: 600;
}

.quote {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 10px;
}