.section-title {
    font-family: "Poppins", sans-serif;

    h5 {
        font-size: 0.9rem;
        color: $beige;
        font-weight: 600;
    }
    h2 {
        color: $theme;
        font-weight: 700;
    }
}

p {
    font-family: "Poppins", sans-serif;
    color: $theme;
}

h1 {
    font-family: "Poppins", sans-serif;
    color: $theme;
}

h2 {
    font-family: "Poppins", sans-serif;
    color: $theme;
}

h3 {
    font-family: "Poppins", sans-serif;
    color: $theme;
}

.big-number {
    font-size: 70px;
    font-weight: 600;
}