<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2c6e24e-a981-49dd-b11a-9518a683e0cc" Alias="Aaron Lambert" Level="2">
  <Info>
    <Parent Key="d839969e-8bd7-4542-8bf5-8096f7fe8200">Team Members</Parent>
    <Path>/TeamMembers/AaronLambert</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-06T17:06:58</CreateDate>
    <NodeName Default="Aaron Lambert" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/yeuiazhi/image-104-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>