<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f3c8c72-63fb-4a24-9de7-2d7a3082e1a4" Alias="AJ Carter" Level="2">
  <Info>
    <Parent Key="d839969e-8bd7-4542-8bf5-8096f7fe8200">Team Members</Parent>
    <Path>/TeamMembers/AJCarter</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-06T17:06:44</CreateDate>
    <NodeName Default="AJ Carter" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/5vdhvwms/image-106-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>