<?xml version="1.0" encoding="utf-8"?>
<Media Key="861c8394-f88a-4e44-9811-0ed7c86d6e46" Alias="Annual Report for Juva Inc." Level="2">
  <Info>
    <Parent Key="e54746fd-cf5d-4383-b203-807be23b09d1">Projects</Parent>
    <Path>/Projects/AnnualReportForJuvaInc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-05T14:04:05</CreateDate>
    <NodeName Default="Annual Report for Juva Inc." />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.4835164835164835,
    "top": 0.4895604311764895
  },
  "crops": [],
  "src": "/media/dnefumhd/pj1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>