<?xml version="1.0" encoding="utf-8"?>
<Media Key="a17b516b-96c3-4907-958a-d57d2554e527" Alias="Brands" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brands</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-05T00:46:43</CreateDate>
    <NodeName Default="Brands" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>