<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a1da0ce-0014-4964-b9c0-27a691f296fb" Alias="Brandon Kerr" Level="2">
  <Info>
    <Parent Key="d839969e-8bd7-4542-8bf5-8096f7fe8200">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-06T17:07:39</CreateDate>
    <NodeName Default="Brandon Kerr" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ifvfwld3/mask-group-8-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>