<?xml version="1.0" encoding="utf-8"?>
<Media Key="7de62f31-1744-4ddd-a8b7-c9582a68ed0b" Alias="Brandon Newton" Level="2">
  <Info>
    <Parent Key="d839969e-8bd7-4542-8bf5-8096f7fe8200">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewton</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-06T17:06:31</CreateDate>
    <NodeName Default="Brandon Newton" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/x1slbszn/image-47-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>