<?xml version="1.0" encoding="utf-8"?>
<Media Key="025c5269-67ae-4bdf-bc51-e93022a1e1a3" Alias="Budget Planning for Buccura Inc." Level="2">
  <Info>
    <Parent Key="e54746fd-cf5d-4383-b203-807be23b09d1">Projects</Parent>
    <Path>/Projects/BudgetPlanningForBuccuraInc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-05T14:05:04</CreateDate>
    <NodeName Default="Budget Planning for Buccura Inc." />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/20mbvngh/pj4.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>