<?xml version="1.0" encoding="utf-8"?>
<Media Key="30c35c11-6b75-411f-8ce6-7c6c94ed838f" Alias="Business Insights for SP Group Inc." Level="2">
  <Info>
    <Parent Key="e54746fd-cf5d-4383-b203-807be23b09d1">Projects</Parent>
    <Path>/Projects/BusinessInsightsForSPGroupInc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-05T14:04:32</CreateDate>
    <NodeName Default="Business Insights for SP Group Inc." />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/t0lilbq2/pj2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>