<?xml version="1.0" encoding="utf-8"?>
<Media Key="80ea2b09-9274-43b9-a33b-da824bfbfd7f" Alias="Client Image" Level="2">
  <Info>
    <Parent Key="bf90c236-ebca-49f4-8dd4-b31766678fae">Miscellaneous</Parent>
    <Path>/Miscellaneous/ClientImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T22:03:51</CreateDate>
    <NodeName Default="Client Image" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/q1qlynq3/clientgroup.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>