<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3bd58c8-760d-4193-8789-70a4f9767576" Alias="Contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-03T21:17:30</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>