<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9fcc60f-2c26-40e4-998b-ddb86667ac3b" Alias="Contact Image" Level="2">
  <Info>
    <Parent Key="b3bd58c8-760d-4193-8789-70a4f9767576">Contact</Parent>
    <Path>/Contact/ContactImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-03T21:18:20</CreateDate>
    <NodeName Default="Contact Image" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qaglu50p/contact-image.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>