<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b413e59-8030-4371-8165-93bfdc774ccd" Alias="Contact Dots" Level="2">
  <Info>
    <Parent Key="b3bd58c8-760d-4193-8789-70a4f9767576">Contact</Parent>
    <Path>/Contact/ContactDots</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-03T21:18:06</CreateDate>
    <NodeName Default="Contact Dots" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/010aopkz/contact-dots.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>