<?xml version="1.0" encoding="utf-8"?>
<Media Key="537c4848-a484-4b94-9a03-974efe71c811" Alias="FossilGroup logo" Level="2">
  <Info>
    <Parent Key="a17b516b-96c3-4907-958a-d57d2554e527">Brands</Parent>
    <Path>/Brands/FossilGroupLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T15:24:04</CreateDate>
    <NodeName Default="FossilGroup logo" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/y4bdvzpn/fossilgroup.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>