<?xml version="1.0" encoding="utf-8"?>
<Media Key="6281464d-c876-4b4c-88d3-3f45e0b5960e" Alias="Freedombird" Level="2">
  <Info>
    <Parent Key="a17b516b-96c3-4907-958a-d57d2554e527">Brands</Parent>
    <Path>/Brands/Freedombird</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-05T00:55:11</CreateDate>
    <NodeName Default="Freedombird" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ykgmpva5/freedombird.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>