<?xml version="1.0" encoding="utf-8"?>
<Media Key="5bda6a3a-4848-4e54-9878-cad90dd6e962" Alias="Globe logo" Level="2">
  <Info>
    <Parent Key="a17b516b-96c3-4907-958a-d57d2554e527">Brands</Parent>
    <Path>/Brands/GlobeLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T15:25:13</CreateDate>
    <NodeName Default="Globe logo" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/wwqjz1jb/globe.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>