<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2a9d119-36d1-43f8-8c65-4f2bcfe9fa5f" Alias="Identity logo" Level="2">
  <Info>
    <Parent Key="a17b516b-96c3-4907-958a-d57d2554e527">Brands</Parent>
    <Path>/Brands/IdentityLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T15:25:00</CreateDate>
    <NodeName Default="Identity logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/synp43fy/identity.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>