<?xml version="1.0" encoding="utf-8"?>
<Media Key="594120ba-c574-434e-aab2-fbc28e199f75" Alias="Kevin Gardner" Level="2">
  <Info>
    <Parent Key="bf90c236-ebca-49f4-8dd4-b31766678fae">Miscellaneous</Parent>
    <Path>/Miscellaneous/KevinGardner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-06T00:39:29</CreateDate>
    <NodeName Default="Kevin Gardner" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/gxvap1y3/kevin-gardner.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>