<?xml version="1.0" encoding="utf-8"?>
<Media Key="83636ce9-8558-4a38-a377-d59f9cf66f1a" Alias="Kevin Gardner" Level="2">
  <Info>
    <Parent Key="d839969e-8bd7-4542-8bf5-8096f7fe8200">Team Members</Parent>
    <Path>/TeamMembers/KevinGardner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-06T17:07:09</CreateDate>
    <NodeName Default="Kevin Gardner" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/m0tcknjr/kevin-gardner-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>