<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf90c236-ebca-49f4-8dd4-b31766678fae" Alias="Miscellaneous" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Miscellaneous</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-24T15:21:42</CreateDate>
    <NodeName Default="Miscellaneous" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>