<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5173ae2-c8a5-48ba-b557-0412b65c7feb" Alias="Natural logo" Level="2">
  <Info>
    <Parent Key="a17b516b-96c3-4907-958a-d57d2554e527">Brands</Parent>
    <Path>/Brands/NaturalLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-05T00:48:59</CreateDate>
    <NodeName Default="Natural logo" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/nxyfc24m/natural.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>