<?xml version="1.0" encoding="utf-8"?>
<Media Key="db180465-317f-42b1-bb4e-40d988d91abe" Alias="Onatrix logo" Level="2">
  <Info>
    <Parent Key="bf90c236-ebca-49f4-8dd4-b31766678fae">Miscellaneous</Parent>
    <Path>/Miscellaneous/OnatrixLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-27T16:24:55</CreateDate>
    <NodeName Default="Onatrix logo" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/3lhf21iw/logo.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>