<?xml version="1.0" encoding="utf-8"?>
<Media Key="d52ba170-65e9-4b46-9224-06125c7319c2" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-24T15:23:01</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>