<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c11ddb0-eff1-4c15-9383-e933ac7b0eb2" Alias="Signature - Tina Fox" Level="2">
  <Info>
    <Parent Key="bf90c236-ebca-49f4-8dd4-b31766678fae">Miscellaneous</Parent>
    <Path>/Miscellaneous/SignatureTinaFox</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T17:08:27</CreateDate>
    <NodeName Default="Signature - Tina Fox" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/h2lfokuy/tinafoxsignature.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>