<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0f29245-5ecc-42d7-b45c-cc20435da910" Alias="Simpleaf logo" Level="2">
  <Info>
    <Parent Key="a17b516b-96c3-4907-958a-d57d2554e527">Brands</Parent>
    <Path>/Brands/SimpleafLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T15:25:46</CreateDate>
    <NodeName Default="Simpleaf logo" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/zjmlibvf/simpleaf.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>