<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd5f1f9b-a2e1-4adf-b0eb-e7194feaa0d4" Alias="Tax and Trusts" Level="2">
  <Info>
    <Parent Key="d52ba170-65e9-4b46-9224-06125c7319c2">Services</Parent>
    <Path>/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T22:23:22</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ctkbs02i/image-22-min-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>