<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6659e71-662e-42f4-82a9-16548e691a13" Alias="Tina Fox" Level="2">
  <Info>
    <Parent Key="d839969e-8bd7-4542-8bf5-8096f7fe8200">Team Members</Parent>
    <Path>/TeamMembers/TinaFox</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-06T17:07:49</CreateDate>
    <NodeName Default="Tina Fox" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/5zkcg2ch/img_choose_01_home01-2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>