@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4F5955;
}

.btn-dark {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: #4F5955;
  color: #F2EDDC;
  border: none;
  padding: 12px 25px;
}

.btn-light {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: #F2EDDC;
  color: #4F5955;
  border: none;
}

.section-title {
  font-family: "Poppins", sans-serif;
}
.section-title p {
  color: #D9C3A9;
  font-weight: 600;
}
.section-title h2 {
  color: #4F5955;
  font-weight: 700;
}

p {
  font-family: "Poppins", sans-serif;
  color: #4F5955;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #4F5955;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #4F5955;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: #4F5955;
}

header .header-top {
  background-color: #4F5955;
}
header .header-top .container {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
header .header-top .container p {
  color: #FFFFFF;
}
header .header-top .container .social-icons {
  padding-top: 5px;
  display: flex;
  gap: 35px;
}
header .header-top .container .social-icons i {
  color: #FFFFFF;
}
header .header-nav {
  box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
}
header .header-nav .container {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}
header .header-nav .container .nav-links {
  padding-top: 10px;
  display: flex;
  gap: 70px;
  font-family: "Poppins", sans-serif;
}
header .header-nav .container .search {
  padding-top: 10px;
}

.brands .container {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #0E0E0E;
  padding-top: 20px;
}
footer p {
  color: #4F5955;
}
footer span {
  color: #D9C3A9;
}

.showcase {
  margin-bottom: 300px;
}
.showcase img {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.showcase .container {
  color: #4F5955;
}
.showcase .container .showcase-text {
  padding-top: 100px;
  padding-right: 800px;
}
.showcase .container .showcase-text h1 {
  font-weight: 700;
  font-size: 3.5rem;
}

.about-us .container {
  display: flex;
}
.about-us .container .call-back-box {
  box-shadow: 0px 4px 13px -2px rgba(19, 16, 34, 0.06), 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1);
}
.about-us .container .call-back-box h3 {
  padding: 25px 20px;
  font-weight: 600;
  background-color: #4F5955;
  color: #F2EDDC;
}
.about-us .container .call-back-box p {
  padding: 0px 20px;
}

.client .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.client .container .client-text-area h2 {
  color: #4F5955;
  padding: 0px 400px;
  font-weight: 700;
}
.client .container .client-text-area h2 span {
  color: #D9C3A9;
}
.client .container .client-text-area p {
  padding: 0px 300px;
}

.stories {
  background-color: #4F5955;
}
.stories .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.stories .container .dotmap {
  position: absolute;
}
.stories .container .section-title h2 {
  color: #FFFFFF;
}
.stories .container .success-stats {
  display: flex;
  flex-direction: row;
}
.stories .container .success-stats .number-stat .big-number {
  color: #D9C3A9;
}
.stories .container .success-stats .number-stat p {
  color: #FFFFFF;
}