<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9218cbf9-cefc-4e26-b074-d1db05f84952" Alias="Section - Approved Background Color" Level="1">
  <Info>
    <Name>Section - Approved Background Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "0E0E0E",
      "label": "Dark"
    },
    {
      "value": "4F5955",
      "label": "Theme"
    },
    {
      "value": "D9C3A9",
      "label": "Beige"
    },
    {
      "value": "F2EDDC",
      "label": "Cream"
    },
    {
      "value": "F7F7F7",
      "label": "Off-White"
    },
    {
      "value": "FFFFFF",
      "label": "White"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>